{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sample</title>
  <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
  <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
</head>
<body>
    <header id="header" class="wrapper">
        <h1 class="site-title">
            <a href="{% url 'top' %}">Gallery</a>
        </h1>
        <nav>
            <ul>
                <li><a href="{% url 'top' %}">ホーム</a></li>
                <li><a href="#about">概要</a></li>
                <li><a href="#list">一覧</a></li>
                <li><a href="#new">新規投稿</a></li>
            </ul>
        </nav>
    </header>

    <hr>

    <main id="main">
        <div id="about" class="wrapper">
            <h2 class="sub-title">概要</h2>
            <p>
                {% lorem 5 b random %}
            </p>
        </div>

        <div id="list" class="wrapper">
            <h2 class="sub-title">一覧</h2>
            {% for item in object_list %}
            <ul>
                <li>
                    <a href="{% url 'detail' item.pk %}">プロジェクト名：{{ item.project }}</a>
                    <p>作成日：{{ item.created_at }} | 更新日：{{ item.updated_at }}</p>
                    <p>カテゴリー : {{ item.category }}</p>
                </li>
            </ul>
            {% endfor %}
        </div>

        <div id="new" class="wrapper">
            <h2 class="sub-title"><a href="{% url 'create' %}">新規投稿</a></h2>
        </div>
        
        <ul>
            {% if page_obj.has_previous %}
            <li>
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
        
        {% for num in page_obj.paginator.page_range %}
        {% if num <= page_obj.number|add:5 and num >= page_obj.number|add:-5 %}

        {% if page_obj.number == num %}
        <li><a href="#">{{ num }}</a></li>
        {% else %}
        <li><a href="?page={{ num }}">{{ num }}</a></li>
        {% endif %}
        {% endif %}
        {% endfor %}
        
        {% if page_obj.has_next %}
        <li>
            <a href="?page={{ page_obj.next_page_number }}">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% endif %}

    </main>

    <hr>

    <footer id="footer">
        <p>&copy; 2022-</p>
    </footer>
</body>
</html>