{% extends 'app/base.html' %}
{% load static %}
{% block extra_head %}
  <link rel="stylesheet" href="{% static 'app/css/form_style.css' %}">
{% endblock extra_head %}

{% block content %}
  <div class="container">

    <main id="main">
      
      <div class="content">
        <div class="content-title">
        <h2 class="sub-title">新規投稿</h2>
      </div>
      
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }} 
        <input type="submit", value="投稿">
      </form>

    </main>

  </div>

{% endblock content %}