{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sample</title>
  <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
  <link rel="stylesheet" href="{% static 'app/css/list_style.css' %}">
</head>
<body>

    <header id="header" class="wrapper">
        <h1 class="site-title">
            <a href="{% url 'top' %}">Gallery</a>
        </h1>
        <nav>
            <ul>
                <li><a href="{% url 'top' %}">ホーム</a></li>
                <li><a href="#about">概要</a></li>
                <li><a href="#list">一覧</a></li>
                <li><a href="#new">新規投稿</a></li>
            </ul>
        </nav>
    </header>

    <hr id="header-hr">

    <main id="main">
        <div id="about" class="wrapper">
            <h2 class="sub-title">概要</h2>
            <p>
                {% lorem 5 b random %}
            </p>
        </div>

        <div id="list" class="wrapper">
            <h2 class="sub-title">一覧</h2>
            {% for item in object_list %}
            <ul>
                <li>
                    <a href="{% url 'detail' item.pk %}">プロジェクト名：{{ item.project }}</a>
                    <p>作成日：{{ item.created_at }} | 更新日：{{ item.updated_at }}</p>
                    <p>セメスター : {{ item.category }}</p>
                </li>
            </ul>
            {% endfor %}
        </div>


        
        <section id="new" class="wrapper">
            <h2 class="sub-title">新規投稿</h2>
            <h3 class="sub2-title">新しいプロジェクトを投稿しよう！</h3>
            <p><a href="{% url 'create' %}">投稿画面へ</a></p>
        </section>

    </main>
    
    <hr>
    
    <footer id="footer">
        <p>&copy; 2022-</p>
    </footer>
</body>
</html>