{% extends 'app/base.html' %}
{% load static %}

{% block content %}

    <main id="main">
        <div id="about" class="wrapper">
            <h2 class="sub-title">概要</h2>
            <p>
                ポートフォリオサイトです。<br>
                これまでの作品の一覧を見ることができます。
            </p>
        </div>
        
        <div id="list" class="wrapper">
            <h2 class="sub-title">一覧</h2>
            {% for item in object_list %}
            <ul>
                <li>
                    <a class="list-title" href="{% url 'detail' item.pk %}">プロジェクト名：{{ item.project }}</a>
                    <p>作成日：{{ item.created_at }}</p>
                    <p>セメスター : {{ item.category }}</p>
                </li>
            </ul>
            {% endfor %}
        </div>
    
        <section id="new" class="wrapper">
            <h2 class="sub-title">新規投稿</h2>
            <h3 class="sub2-title">新しいプロジェクトを投稿しよう！</h3>
            <p><a href="{% url 'create' %}">投稿画面へ</a></p>
        </section>
    </main>

{% endblock content %}
