@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  color: #383e45;
  font-size: 0.9rem;
}
a {
  text-decoration: none;

}

li {
  list-style: none;
}

.site-title {
  width: 120px;
  padding: 10px 0;
}

.site-title a {
  display: block;
}

.sub-title {
  display: inline-block;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  border-bottom: solid 1px #383e45;
}

.sub2-title {
  font-size: 1rem;
  margin: 10px 0;
  margin-bottom: 10px;
  
}

.wrapper {
  max-width: 960px;
  margin: 0 auto 100px auto;
  padding: 0 4%;
  text-align: center;
}




#header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}



#header ul {
  display: flex;
  padding: 20px 0;
}

#header li {
  margin-left: 30px;
}

#header li a {
  color: #24292e;
}

#header li a:hover {
  opacity: 0.7;
}

#header-hr {
  margin-bottom: 50px;
}


#footer {
  font-size: 0.7rem;
  text-align: center;
  padding: 10px 0;
}