


#about {
  margin-bottom: 50px;

  
}

#about p {
  font-size: 2rem;
}

#list {
  margin-bottom: 50px;
}

#list ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.list-title {
  font-size: 2rem;
  background-color: red;
}



#new {
  margin-bottom: 10px;
}










